body {
  background-image: url("tori.jpg");
  background-size: cover;
  height: 100%;
}
#logo {
  width: 25%;
  margin-left: 3%;
}
#meininki {
  width:100%;
}
.box {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  background-color: rgba(26, 35, 126, 0.8);
  color: #ffffff;
  display:grid;
  grid-template-columns: 0.8fr 0.2fr;
  padding: 1%;
}
.text {
  padding: 1%;
}
.qrImg {
  min-width: 150px;
  width:100%;
  margin: auto;
}